<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <module value="sysuser" name="系统用户">
    <permission value="search" name="查询" />
    <permission value="manage" name="管理" />
    <permission value="manageSysPermission" name="设置系统权限" />
  </module>
  <module value="sysrole" name="系统角色">
    <permission value="search" name="查询" />
    <permission value="manage" name="管理" />
    <permission value="manageSysPermission" name="设置系统权限" />
  </module>
  <module value="department" name="部门管理">
    <permission value="search" name="查询" />
    <permission value="manage" name="管理" />
  </module>
  <module value="appsecret" name="接口密钥">
    <permission value="search" name="查询" />
    <permission value="manage" name="管理" />
    <permission value="manageSysPermission" name="设置系统权限" />
  </module>
  <module value="sysLog" name="系统日志">
    <permission value="search" name="查询" />
  </module>
</configuration>