<?xml version="1.0" encoding="utf-8"?>
<SysMenu>
  <FirstMenu text="系统" icon="glyphicon glyphicon-asterisk">
    <SecondMenu text="用户管理" icon="fa fa-circle-o" url="~/Base_SysManage/Base_User/Index" Permission="sysuser.search" />
    <SecondMenu text="角色管理" icon="fa fa-circle-o" url="~/Base_SysManage/Base_SysRole/Index" Permission="sysrole.search" />
    <SecondMenu text="部门管理" icon="fa fa-circle-o" url="~/Base_SysManage/Base_Department/Index" Permission="department.search" />
    <SecondMenu text="接口密钥管理" icon="fa fa-circle-o" url="~/Base_SysManage/Base_AppSecret/Index" Permission="appsecret.search" />
    <SecondMenu text="系统日志" icon="fa fa-circle-o" url="~/Base_SysManage/Base_SysLog/Index" Permission="sysLog.search" />
  </FirstMenu>
  <!--<FirstMenu text="项目" url="~/ProjectManage/Dev_Project/Index" icon="glyphicon glyphicon-asterisk" Permission=""/>-->
</SysMenu>