.form-group {
    margin-right: 5px;
    margin-top: 3px;
}
.fx-content {
    padding: 5px;
}
.fx-wrapper {
    margin-top: 5px;
}

    .fx-wrapper table {
        word-break: break-all;
        word-wrap: break-all;
    }
