<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base target="_blank">

    <link href="@Url.Scrpit("~/Scripts/vendor/bootstrap/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Scrpit("~/Skin/home/style.min.css")" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-md-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">昨日</span>
                        <h5>收入</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">11111</h1>
                        <div class="stat-percent font-bold text-success">
                            <!--98% <i class="fa fa-bolt"></i>-->
                        </div>
                        <small><!--环比--></small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">今日</span>
                        <h5>收入</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">11111</h1>
                        <div class="stat-percent font-bold text-success">
                            <!--98% <i class="fa fa-bolt"></i>-->
                        </div>
                        <small><!--环比--></small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">本月</span>
                        <h5>收入</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">11111</h1>
                        <div class="stat-percent font-bold text-success">
                            <!--98% <i class="fa fa-bolt"></i>-->
                        </div>
                        <small><!--环比--></small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">本年</span>
                        <h5>收入</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">11111</h1>
                        <div class="stat-percent font-bold text-success">
                            <!--98% <i class="fa fa-bolt"></i>-->
                        </div>
                        <small><!--环比--></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">运营商</span>
                        <h5>数量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">11111</h1>
                        <div class="stat-percent font-bold text-success">
                            <!--98% <i class="fa fa-bolt"></i>-->
                        </div>
                        <small><!--环比--></small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">停车场</span>
                        <h5>数量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">11111</h1>
                        <div class="stat-percent font-bold text-success">
                            <!--98% <i class="fa fa-bolt"></i>-->
                        </div>
                        <small><!--环比--></small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">车位</span>
                        <h5>数量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">11111</h1>
                        <div class="stat-percent font-bold text-success">
                            <!--98% <i class="fa fa-bolt"></i>-->
                        </div>
                        <small><!--环比--></small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">用户</span>
                        <h5>数量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">11111</h1>
                        <div class="stat-percent font-bold text-success">
                            <!--98% <i class="fa fa-bolt"></i>-->
                        </div>
                        <small><!--环比--></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>