<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--系统用户-->
  <action url="Base_SysManage/Base_User/GetDataList" needPermission="sysuser.search" />
  <action url="Base_SysManage/Base_User/SaveData" needPermission="sysuser.manage" />
  <action url="Base_SysManage/Base_User/DeleteData" needPermission="sysuser.manage" />
  <action url="Base_SysManage/Base_User/SavePermission" needPermission="sysuser.manage" />
  <!--系统角色-->
  <action url="Base_SysManage/Base_SysRole/GetDataList" needPermission="sysuser.search" />
  <action url="Base_SysManage/Base_SysRole/SaveData" needPermission="sysuser.manage" />
  <action url="Base_SysManage/Base_SysRole/DeleteData" needPermission="sysuser.manage" />
  <action url="Base_SysManage/Base_SysRole/SavePermission" needPermission="sysuser.manage" />
</configuration>