@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}

<div class="fx-content">
    <div id="toobar">
        <div class="btn-group btn-group-sm">
            <button onclick="openForm('', '添加数据');" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                添加
            </button>
            <button onclick="deleteData();" type="button" class="btn btn-default" aria-label="Right Align">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                删除
            </button>
            <button type="button" class="btn btn-default" aria-label="Right Align" onclick="javascript: location.reload();">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                刷新
            </button>
        </div>
    </div>
    <div class="fx-wrapper">
        <table id="dataTable" class="table-bordered"></table>
    </div>
</div>

<script>
    var $table = $('#dataTable');

    $(function () {
        initTable();
        bindEvent();
    });

    //初始化表格
    function initTable() {
        $table.bootstrapTable({
            url: '/Base_SysManage/Base_DatabaseLink/GetDataList',
            idField: 'Id',
            method: 'post',
            contentType: 'application/x-www-form-urlencoded',
            clickToSelect: false,
            pagination: false,
            //sidePagination: "server",
            //queryParamsType: '',
            //pageNumber: 1,
            //pageSize: 30,
            //pageList: [10, 30, 60, 100],
            columns: [
                { title: 'ck', field: 'ck', checkbox: true, width: '3%' },
                { title: '连接名', field: 'LinkName', width: '10%' },
                { title: '连接字符串', field: 'ConnectionStr', width: '50%' },
                { title: '数据库类型', field: 'DbType', width: '10%' },
                {
                    title: '操作', field: '_', width: '27%', formatter: function (value, row) {
                        var builder = new BtnBuilder();
                        builder.AddBtn({ icon: 'glyphicon-edit', function: 'openForm', param: [row['Id']] });
                        builder.AddBtn({ icon: 'glyphicon-trash', function: 'deleteData', param: [row['Id']] });

                        return builder.build();
                    }
                }
            ],
            queryParams: function (params) {
                var searchParams = $('#searchForm').getValues();
                $.extend(params, searchParams);

                return params;
            }
        });
    }

    //绑定事件
    function bindEvent() {

    }

    //打开表单
    function openForm(id, title) {
        dialogOpen({
            id: 'form',
            title: title,
            btn: ['确定', '取消'],
            url: '/Base_SysManage/Base_DatabaseLink/Form?id={0}'.format(id || ''),
            yes: function (window, body) {
                window.submitForm();
            }
        });
    }

    //删除数据
    function deleteData(id) {
        dialogComfirm('确认删除吗？', function () {
            var ids = [];

            if (typeof (id) == 'string') {//单条数据
                ids.push(id);
            } else {//多条数据
                var rows = $table.bootstrapTable('getSelections');
                if (rows.length == 0) {
                    dialogError('请选择需要删除的数据！');
                    return;
                } else {
                    $.each(rows, function (index, value) {
                        ids.push(value['Id']);
                    })
                }
            }

            loading();
            $.postJSON('/Base_SysManage/Base_DatabaseLink/DeleteData', { ids: JSON.stringify(ids) }, function (resJson) {
                loading(false);

                if (resJson.Success) {
                    $table.bootstrapTable('refresh');
                    dialogSuccess('删除成功!');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    }
</script>
