@{
    Layout = "~/Views/Shared/_Layout_Form.cshtml";
}

<div style="padding:15px;padding-right:45px;">
    <form id="form" class="form-horizontal" role="form">
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">密码</label>
            <div class="col-sm-5">
                <input id="Pwd" name="Pwd" type="text" class="form-control">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <button id="submit" type="submit" class="hidden">提交</button>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('#Pwd').bootstrapPwdBox();
    });
</script>
