@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}
<script src="~/Scripts/vendor/FileSaver/FileSaver.js"></script>
<a href="javascript:void(0)" onclick="downloadTest()">下载</a>
<script type="text/javascript">
    function downloadTest() {
        downloadFile("https://img10.360buyimg.com/n0/jfs/t16249/190/2381347053/175663/bbb1375a/5ab1a670N0b93b6dd.jpg");
    }
</script>