@inherits DependencyViewPage

@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";

    var manageSysPermission = this.PermissionManage.OperatorHasPermissionValue("sysuser.manageSysPermission");
    var canManage = PermissionManage.OperatorHasPermissionValue("sysuser.manage");
}

<div class="fx-content">
    <div id="toobar">
        <div class="btn-group btn-group-sm">
            @if (canManage)
            {
                <button onclick="openForm('', '添加数据');" type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    添加
                </button>
                <button onclick="deleteData();" type="button" class="btn btn-default" aria-label="Right Align">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    删除
                </button>
            }
            <button type="button" class="btn btn-default" aria-label="Right Align" onclick="javascript: location.reload();">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                刷新
            </button>
        </div>
    </div>
    <div class="fx-wrapper">
        <form class="form-inline" id="searchForm">
            <div class="form-group">
                <label>用户名/姓名</label>
                <input type="text" class="form-control input-sm" name="keyword" placeholder="请输入用户名/姓名">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default btn-sm" onclick="javascript: $('#dataTable').bootstrapTable('refresh', { silent: true });">
                    <i class="glyphicon glyphicon-search"></i>
                    查询
                </button>
            </div>
        </form>
    </div>
    <div class="fx-wrapper">
        <table id="dataTable" class="table-bordered"></table>
    </div>
</div>

<script>
    var $table = $('#dataTable');
    var manageSysPermission=@manageSysPermission.ToString().ToLower();
    var canManage =@canManage.ToString().ToLower();

    $(function () {
        initTable();
        bindEvent();
    });

    //初始化表格
    function initTable() {
        $table.bootstrapTable({
            url: '/Base_SysManage/Base_User/GetDataList',
            idField: 'id',
            pagination: true,
            method: 'post',
            clickToSelect: false,
            sidePagination: "server",
            contentType: 'application/x-www-form-urlencoded',
            queryParamsType: '',
            pageNumber: 1,
            pageSize: 30,
            pageList: [10, 30, 60, 100],
            columns: [
                { title: 'ck', field: 'ck', checkbox: true },
                { title: '用户名', field: 'UserName', width: 200 },
                { title: '真实姓名', field: 'RealName', width: 200 },
                { title: '所属部门', field: 'DepartmentName', width: 200 },
                {
                    title: '性别', field: 'Sex', width: 200, formatter: function (value, row) {
                        var mapping = {
                            '1': '男',
                            '0': '女'
                        };

                        return mapping[value];
                    }
                },
                {
                    title: '出生日期', field: 'Birthday', width: 200, formatter: function (value) {
                        return toDateString(value, 'yyyy-MM-dd');
                    }
                },
                { title: '所属角色', field: 'RoleNameList', width: 600 },
                {
                    title: '操作', field: '_', width: '20%', formatter: function (value, row) {
                        var builder = new BtnBuilder();
                        if (canManage) {
                            builder.AddBtn({ icon: 'glyphicon-edit', function: 'openForm', param: [row['Id']] });
                            builder.AddBtn({ icon: 'glyphicon-trash', function: 'deleteData', param: [row['Id']] });
                        }
                        if (manageSysPermission) {
                            builder.AddBtn({ name: '权限分配', icon: 'glyphicon-edit', function: 'setPermission', param: [row['Id'], row['RealName']] });
                        }

                        return builder.build();
                    }
                }
            ],
            queryParams: function (params) {
                var searchParams = $('#searchForm').getValues();
                $.extend(params, searchParams);

                return params;
            }
        });
    }

    //绑定事件
    function bindEvent() {

    }

    //打开表单
    function openForm(id, title) {
        dialogOpen({
            id: 'form',
            title: title,
            btn: ['确定', '取消'],
            url: '/Base_SysManage/Base_User/Form?id={0}'.format(id || ''),
            yes: function (window, body) {
                window.submitForm();
            }
        });
    }

    //删除数据
    function deleteData(id) {
        dialogComfirm('确认删除吗？', function () {
            var ids = [];

            if (typeof (id) == 'string') {//单条数据
                ids.push(id);
            } else {//多条数据
                var rows = $table.bootstrapTable('getSelections');
                if (rows.length == 0) {
                    dialogError('请选择需要删除的数据！');
                    return;
                } else {
                    $.each(rows, function (index, value) {
                        ids.push(value['Id']);
                    })
                }
            }

            loading();
            $.postJSON('/Base_SysManage/Base_User/DeleteData', { ids: JSON.stringify(ids) }, function (resJson) {
                loading(false);

                if (resJson.Success) {
                    $table.bootstrapTable('refresh');
                    dialogSuccess('删除成功!');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    }

    //设置权限
    function setPermission(userId, realName) {
        dialogOpen({
            id: 'permissionForm',
            title: '设置用户【{0}】权限'.format(realName),
            width: '80.5%',
            height: '80.5%',
            btn: ['确定', '取消'],
            url: '/Base_SysManage/Base_User/PermissionForm?userId={0}'.format(userId),
            yes: function (iframeWin) {
                iframeWin.savePermission();
            }
        });
    }
</script>
