@{
    Layout = "~/Views/Shared/_Layout_Form.cshtml";
}
<link rel="stylesheet" href="~/Scripts/vendor/adminlte/dist/css/AdminLTE.min.css">

<div class="wrapper">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tap1" data-toggle="tab">Tap1</a></li>
            <li><a href="#tap2" data-toggle="tab">Tap2</a></li>
            <li><a href="#tap3" data-toggle="tab">Tap3</a></li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane" id="tap1">
                1
            </div>
            <div class="tab-pane" id="tap2">
                2
            </div>
            <div class="tab-pane" id="tap3">
                3
            </div>
        </div>
    </div>
</div>
