@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}
@section toolbar{
    <a id="add" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>
    <a id="edit" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
    <a id="delete" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>
}
@section search{
    <div class="search_wrapper">
        <div class="search_item">
            <label class="search_label">省份</label>
            <input id="ProvinceName" name="provinceName" class="easyui-combobox" data-options="
                        width:150,
                        valueField: 'ProName',
                        textField: 'ProName',
                        url: '@Url.Content("~/")Base_SysManage/City/GetProvinceList',
                        onSelect: function(rec){
                            var url = '@Url.Content("~/")Base_SysManage/City/GetCityList?proId='+rec.ProID;
                            $('#City').combobox('reload', url);
                    }">
        </div>
        <div class="search_item">
            <label class="search_label">城市</label>
            <input id="City" name="cityName" class="easyui-combobox" data-options="
                        width:150,
                        valueField: 'CityName',
                        textField: 'CityName',
                        url: '',
                        onSelect: function(rec){
                            var url = '@Url.Content("~/")Base_SysManage/City/GetCountyList?cityId='+rec.CityID;
                            $('#County').combobox('reload', url);
                    }
                    ">
        </div>
        <div class="search_item">
            <label class="search_label">区县</label>
            <input id="County" name="County" class="easyui-combobox" data-options="
                        width:150,
                        valueField: 'DisName',
                        textField: 'DisName',
                        url: ''
                    ">
        </div>
        <div class="search_submit">
            <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="searchGrid(this,'#dataTable')">查询</a>
        </div>
    </div>
}
